@import "tailwindcss";

@theme {
  --color-primary: #0a243e;
  --color-background-light: #f6f7f8;
  --color-background-dark: #121920;
  --font-display: "Inter", sans-serif;
  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    background-color: var(--color-background-light);
    font-family: var(--font-display);
    color: #0f172a;
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}